torch
transformers
peft
accelerate
opencv-python
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tqdm
huggingface_hub
transformer-lens
statsmodels
Pillow
einops
timm
sentencepiece
ipykernel
jupyter
